[project]
	description = A Kubernetes deployment framework to handle resilient and highly available deployments.
[access]
	inheritFrom = att-comdev/att-comdev-org
[access "refs/*"]
	owner = group user/jenkins-attcomdev
[access "refs/for/refs/*"]
	read = group user/jenkins-attcomdev
	push = group user/jenkins-attcomdev
	label-Code-Review = -2..+2 group user/jenkins-attcomdev
	label-Verified = -1..+1 group user/jenkins-attcomdev
	rebase = group user/jenkins-attcomdev
	removeReviewer = group user/jenkins-attcomdev
	submit = group user/jenkins-attcomdev
[access "refs/heads/*"]
	read = group user/jenkins-attcomdev
	create = group user/jenkins-attcomdev
	push = +force group user/jenkins-attcomdev
	pushMerge = group user/jenkins-attcomdev
[access "refs/tags/*"]
	push = group user/jenkins-attcomdev
	push = +force group user/jenkins-attcomdev
[access "refs/meta/*"]
	push = group attcomdev-ci-team
