[Unit]
Description=ipset and iptables reloader
Requires=docker.service network-online.target
After=docker.service network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/reload-iptables

[Install]
WantedBy=multi-user.target
