[Unit]
Description=Kubernetes Worker Process
Requires=docker.service network-online.target iptables-loader.service
After=docker.service network-online.target iptables-loader.service

[Service]
ExecStartPre=/usr/local/bin/setup-kubelet-mounts
ExecStart=/usr/bin/docker run \
        --net=host \
        --pid=host \
        --privileged \
        -v /sys:/sys:ro \
        -v /var/run:/var/run:rw \
        -v /var/lib/docker/:/var/lib/docker:rw \
        -v /var/lib/kubelet/:/var/lib/kubelet:shared \
        -v /var/log:/var/log:shared \
        -v /srv/kubernetes:/srv/kubernetes:ro \
        -v /etc/kubernetes:/etc/kubernetes:ro \
        -v /etc/cni/net.d:/etc/cni/net.d:ro \
        -v /opt/cni:/opt/cni:ro \
        {{ config['Images:kubernetes.kubelet'] }} \
            /kubelet \
                --allow-privileged=true \
                --cluster-domain={{ config['KubernetesNetwork:dns.cluster_domain'] }} \
                --cluster-dns={{ config['KubernetesNetwork:dns.service_ip'] }} \
                --cni-bin-dir=/opt/cni/bin \
                --cni-conf-dir=/etc/cni/net.d \
                --eviction-max-pod-grace-period -1 \
                --kubeconfig=/etc/kubernetes/kubeconfig \
                --network-plugin=cni \
                --node-ip={{ config.get_first('Genesis:ip', 'KubernetesNode:ip') }} \
                {%- if config['Genesis:labels.static'] is defined %}
                --node-labels={{ config['Genesis:labels.static'] | join(',') }} \
                {%- elif config['KubernetesNode:labels.static'] is defined %}
                --node-labels={{ config['KubernetesNode:labels.static'] | join(',') }} \
                {%- endif %}
                --pod-manifest-path=/etc/kubernetes/manifests \
                --client-ca-file=/etc/kubernetes/pki/cluster-ca.pem \
                --tls-cert-file=/etc/kubernetes/pki/kubelet.pem \
                --tls-private-key-file=/etc/kubernetes/pki/kubelet-key.pem \
                --v=5

Restart=always
StartLimitInterval=0
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target
